<div class="col-lg-12">
	<div class="card rounder-0 m-5">
		<div class="card-body">
			<h1 class="text-center">Student data update.</h1>
		</div>
	</div>
	<%= form_with model: @student do |form|%>
		<div class="row">
			<div class="col-lg-5 m-4">
				<div class="form-group m-4">
					<%= form.label :first_name, class: 'mb-2'%>
					<%= form.text_field :first_name, class: 'form-control form-control-lg'%>
				</div>
			</div>
			<div class="col-lg-5 m-4">
				<div class="form-group m-4">
					<%= form.label :last_name, class: 'mb-2'%>
					<%= form.text_field :last_name, class: 'form-control form-control-lg'%>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 m-4">
				<div class="form-group m-4">
					<%= form.label :email, class: 'mb-2'%>
					<%= form.text_field :email, class: 'form-control form-control-lg'%>
				</div>
			</div>
			<div class="col-lg-5 m-4">
				<div class="form-group m-4">
					<%= form.label :number, class: 'mb-2'%>
					<%= form.text_field :mobile_number, class: 'form-control form-control-lg'%>
				</div>
			</div>
		</div>
		<div class="col-lg-12 m-4">
			<div class="form-group m-4">
				<%= form.submit class:'btn-lg btn-primary' %>
				<%= link_to "back to student", students_path, class:"btn btn-outline-primary btn-lg"%>
			</div>
		</div>
	<% end%>
</div>