<div class="col-lg-12">
	<div class="card m-5">
		<div class="card-body">
			<h1 class="text-center text-danger">Teacher new data insert.</h1>
		</div>
	</div>
	<%= form_with model: @teacher do |form|%>
		<div class="d-flex justify-content-center">
			<div class="col-lg-4 m-2">
				<%= form.label "first_name",class: "form-label"%>
				<%= form.text_field "first_name",class: "form-control"%>
			</div>
			<div class="col-lg-4 m-2">
				<%= form.label "last_name",class: "form-label"%>
				<%= form.text_field "last_name",class: "form-control"%>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<div class="col-lg-4 m-2">
				<%= form.label "email",class: "form-label"%>
				<%= form.text_field "email",class: "form-control"%>
			</div>
			<div class="col-lg-4 m-2">
				<%= form.label "subject",class: "form-label"%>
				<%= form.text_field "subject",class: "form-control"%>
			</div>
		</div>
		
		<%= form.submit class:"btn btn-lg btn-primary m-2" %>
		<%= link_to "Back to Teachers",teachers_path,class: " m-2 btn btn-lg btn-outline-primary"%>
	<% end%>
</div>